* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4194FF;
}

main {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}   

.search-input {
    width: 100%;
    height: 45px;
    padding: 5px;
    padding-left: 40px;
    outline: none;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    border-radius: 55px;
}

.weather-contents {
    width: 100%;
    height: 90%;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    justify-content: center;
}

.content-wrapper-1{
    border: 1px solid red !important;
}

.weather-contents > div {

    border: 1px solid black;
    height: 150px;
}
